<!--
	"customer_name": "Jenifer L.",
	"date_of_submission": "2014-12-01 23:38:44",
	"customer_last_name": "",
	"description": "They did a great job, I am really pleased with their service.",
	"rating": "5",
	"review_from": "0",
	"review_url": "1569",
	"review_id": "180362",
	"customer_url": "http://localreviewdirectory.com/cosmetic-dentists/wa/seattle/james-bob-dental/rid/MTQwNjcwNDYyOQ==",
	"review_source": "molomedia"
-->
<div class ="well">
	<div class="reviewer_data">
		<span class="span1 bold">{%customer_name%} {%customer_last_name%}</span>
	</div>
	<div class ="rating">
		{%rating%}
	</div>
	<div id ="customer_review">
		{%description%}
	</div>
	<div class ="review_time">
		<i class="fa fa-calendar fa-lg"></i>
		<span id ="date_of_submission">{%date_of_submission%}</span>
	</div>
</div>